.songRow{
    margin-left: 20px;
    padding:20px;
    display:flex;
    align-items:center;
    z-index:100;
    color:white;
	
}

.songRow:hover{
    cursor: pointer;
    background-color: black;
    opacity: 0.8;

}
.songbox__img{
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.songbox__img:hover{
    cursor: pointer;
    background-color: black;
    opacity: 0.8;

}



.songRow__info{
    margin-left: 20px;
}

.songRow__info > h1{
    font-size: 16px;

}

.songRow__info > p{
    font-size: 14px;
    margin-top:3px;
    color:gray;
}

.songRow__album{
    height:40px;
    width: 40px;
}

.f6-song-img{

	width: 180px;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 180px;
	text-align: center;
	
	margin: 0px;
	margin-bottom: 30px;
    
	
	
}
.f6-song-img img{
	width: 75%;
	height: 75%;



}

.f6-song-img-2{

	width: 300px;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 242px;
	text-align: center;
	
	margin: 0px;
	margin-bottom: 30px;
    /* border:1px solid red; */
    
    
	
	
}
.f6-song-img-2 img{
	width: 100%;
	height: 80%;



}


.songBox{

	display: flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
	margin-bottom: 70px;
	box-sizing: border-box;
	margin-left: 250px;
    margin-top:50px;


}


.caption-name{

	font-size: 15px;
	color: white;
	font-family: arial;
	font-weight: bold;
	margin-top: 8px;
	text-align: center;
	


}



.caption-date{

	font-size: 12px;
	color: lightgrey;
	font-family: arial;
	text-align: center;
	font-weight: normal;
	


}
